<div th:fragment="navigation">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="Home-tab" data-toggle="tab" href="/" role="tab" aria-controls="Home">Home</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="Accounts-tab" data-toggle="tab" href="/accounts" role="tab" aria-controls="Accounts">Accounts</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="Transactions-tab" data-toggle="tab" href="/transactions" role="tab" aria-controls="Transactions">Transactions</a>
        </li>
    </ul>
</div>

