<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Account</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css} "/>
</head>
<body class="m-5">
<div th:replace="~{fragments/navigation :: navigation}"></div>
<h1 class="mb-4 mt-3">Account</h1>

<div class="row mb-4 mt-3">
    <div class="row">
        What would you like to do?
    </div>
    <div class="row">
        <div class="col-1">
            <a href="/accounts/add" class="btn btn-primary">Add Account</a>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <a href="/accounts/get" class="btn btn-primary">Get Account</a>
        </div>
    </div>
</div>

</body>
</html>
